{% extends "start_buisness_with_me.html" %}

{% block  title %}Career{% endblock title %}

{% block body %}


<center>
    <div class="article_detail_data">

        <div class="art_full_data">

        <!-- editor -->
<div class="row py-lg-5">
<div class="col-lg-6 col-md-8 mx-auto">
<h2 class="fw-light">Entrepreneurship as a Career</h2><br><br>

<p class="lead text-muted">With an increase in population, demand for jobs is increasing. However, unfortunately, the limited job opportunities are not sufficing the demands leaving many unemployed.&nbsp;</p>

<p class="lead text-muted">This pandemic has become an eye-opener for everyone and especially for the people working in smaller firms. The sudden dip in the economy has made many people lose their jobs. This created a space for people to come up with their businesses.&nbsp;</p>

<p class="lead text-muted">Owning an enterprise gives us a sense of being financially independent, job security, and the opportunity to choose the role of our own choices.&nbsp;</p>

<p class="lead text-muted">Some of the prominent ‘pull factors’ that attract individuals towards entrepreneurship as a career option are a high need for independence. Some people like to have freedom at work: with whom to work, when to work, with whom to do business, on what terms, etc. It is this instinct in them that pushes them to start something of their own.</p>

<p class="lead text-muted">And all these are indeed very luring and that is why a large number of youth are more focused on starting their own business rather than job hunting.</p>

<p class="lead text-muted">In this competitive world, where people are trying to acquire a variety of skills to fulfill the demand of the employer, it is not hidden from anyone. And even after learning a myriad of skills, more than 50 people are fighting for one or two positions. And job hunting soon becomes job haunting.</p>

<p class="lead text-muted">The desire of people to leave a long-lasting mark is also a reason to adopt entrepreneurship as a career. Entrepreneurship creates an opportunity to make a definite contribution to society by lifting people in and around the venture. A continuous zeal to innovate helps in touching the heads and hearts of people at large.</p>

<p class="lead text-muted"><img alt="Entrepreneurship a Good Career Choice" src="/static/6.jpg" style="height:500px; width:800px" margin="10px"></p>

<p class="lead text-muted">&nbsp;</p>

<h2 class="fw-light">Is Entrepreneurship a good career choice?</h2>

<p class="lead text-muted">Every coin has two sides and entrepreneurship is not different. When we see the benefits one gets by owning a business we quickly choose entrepreneurship as our career. But is entrepreneurship a good career choice? It is a question, everyone is looking for an answer.&nbsp;</p>

<p class="lead text-muted">Good or bad can be determined by several factors.</p>

<p class="lead text-muted"><strong>Pros of Entrepreneurship as a career:</strong></p>

<h3 class="fw-light">1. You are the boss</h3>

<p class="lead text-muted">It is as simple as it looks. You don't have to take orders from anyone or report to anyone. It's all about your thoughts, potential, actions, and plans. This feeling is indeed amazing.</p>

<p class="lead text-muted">&nbsp;</p>

<h3 class="fw-light">2. You can work at your own pace</h3>

<p class="lead text-muted">You don't have to meet any deadline, you can work whenever you wish to work. You can manage your time accordingly.</p>

<p class="lead text-muted"><img alt="Boss" src="/static/7.jpg" ></p>

<p class="lead text-muted">&nbsp;</p>

<h3 class="fw-light">3. Work Without Fear</h3>

<p class="lead text-muted">When you are working under somebody else, there is a fear of being fired if you fail. This fear is not there when you have your enterprise. You can take the risk you want without any fear of losing your job.</p>

<p class="lead text-muted">&nbsp;</p>

<h3 class="fw-light">4. Achieve personal satisfaction</h3>

<p class="lead text-muted">When you work for yourself, you don't work on the things you don't feel passionate about. And when you enjoy your work there is very little chance of failing.</p>

<p class="lead text-muted">Running our businesses also allows us to follow our passions as well as empower us enough to do so. Here are a few reasons why becoming an entrepreneur could be one of the biggest favors you ever did for yourself.</p>

<p class="lead text-muted"><img alt="You can work at your own pace" src="/static/8.jpg"></p>

<p class="lead text-muted"><strong>Read more about the good aspect of entrepreneurship as a career choice:</strong></p>

<h3 class="fw-light">9 Reasons Why Being an Entrepreneur Is the Best Job</h3>

<p class="lead text-muted">There’s no denying that it takes immense dedication, discipline, and hard work to just survive, let alone make it big, in the business world.</p>
<h2 class="fw-light">Cons of Entrepreneurship as a career:</h2>

<h3 class="fw-light">1. You do not have a guaranteed paycheck</h3>

<p class="lead text-muted">You don't have a guaranteed paycheck waiting for you at the end of every month. You have to chase your money by putting action on your ideas and plans.&nbsp;</p>

<p class="lead text-muted"><img alt="Cons of Entrepreneurship as a career" src="/static/9.jpg"></p>

<h3 class="fw-light">2. Constant risk</h3>

<p class="lead text-muted">An enterprise demands lots of risks and there is no surety of being successful when you take risks. In the entrepreneurship world, risk-taking leads you to success, but it is not always the success you get.</p>

<h3 class="fw-light">Pros and cons of being an employee vs. being an entrepreneur</h3>

<p class="lead text-muted">Entrepreneurs are often portrayed as happy and free, risk-takers that have the benefits of controlling their own time and income.</p>
</div>
</div>
</div>
</div>




{% endblock body %}