{% extends "start_buisness_with_me.html" %}

{% block  title %}Services{% endblock title %}

{% block body %}

<center>
<div class="col-sm-8 hc-content-with-left-nav ">
    <!--
<div class="hc-medium-header-container">
<div class="hc-medium-header">
<h1>Business Support</h1>
</div>
<a href="https://www.hillsboroughcounty.org/en/businesses/entrepreneur-and-small-business-support/business-support"><span class="glyphicon glyphicon-triangle-left"></span></a>
</div>
-->
<div class="hc-main-text-header">
<h2>Entrepreneur Services</h2>
</div>

<div class="hc-main-text">

</div>

<div class="hc-main-text-content">
<p class="lead text-muted">The Entrepreneur Services team provides entrepreneurs and small businesses throughout Hillsborough County confidential no-cost consulting and professional training, including services through the <strong>Florida SBDC at Hillsborough County</strong>. Resources are available for all stages of business development and across all industries. From start-up businesses to those exploring foreign export sales, the Entrepreneur Services team has the expertise, experience, and resources to complement the vision and passion of Hillsborough County's businesses.</p>
<p class="lead text-muted">To access services:</p>
<ul style="margin-top: 0in; list-style-type: disc;">
<li>See a&nbsp;<a rel="noopener noreferrer"  target="_blank"><strong>list of upcoming workshops</strong></a>&nbsp;provided by Florida SBDC at Hillsborough County</li>
<li>Stop by the main office in the <strong>Entrepreneur Collaborative Center (ECC</strong>)</a>, 2101 E. Palm. Ave. in Tampa</li>
<li>Visit the ECC'<strong>Business Workshop and Training Calendar</strong><br>
</a></li>
<li><strong>Log into the online service portal</strong></a>&nbsp;to access workshops, consulting and more </li>
</ul>
<p><strong>&nbsp;</strong></p>
<h3>Assistance to Grow Existing Businesses</h3>
<ul>
<li><strong>Business Plan and Marketing Tools*</strong> provide a simplified and realistic approach to creating essential business planning documents. These innovative software tools can help with tasks from identifying a target market to developing financial projections.</li>
<li><strong>Business Growth Consulting*</strong> is the Florida SBDC’s premier one-one-one consulting service designed to increase profits and accelerate growth. This personalized business service provides professional guidance throughout business’ life cycles.</li>
<li><strong>Business Assessments*</strong> are consultations that identify a company’s strengths and weaknesses to minimize risk and reduce threats. These services point businesses in the right direction.</li>
<li><strong>Financial Technical Assistance</strong> can increase loan applicants’ probability of securing a loan to grow their business. The Florida SBDC offers pre-and post-loan closing assistance and is the technical assistance provider for business owners interested in securing financing through banks, credit unions, and Small Business Administration (SBA) Lending Programs. We offer tools that help companies postured for growth become fiscally sound, stay financially stable, and remain bankable as they position their business for expansion.</li>
<li><strong>Market and Industry Research</strong>*are value-added consulting services that help entrepreneurs to learn about their customers, competition, and industry. The Florida SBDC provides business research and sources to develop creative marketing plans and successful sales strategies. The Florida SBDC’s market research tools can help businesses analyze data to determine what products and services are in demand and how to be competitive.</li>
<li><strong>Small Business and Disadvantaged Business Enterprise (SBE/MBE/WBE)</strong> certification programs may present growth opportunities for small businesses and help them gain a competitive advantage for local government contracts. The Florida SBDC encourages small business participation in Hillsborough County’s purchasing and procurement activities.</li>
<li><strong>Strategic Planning*</strong> helps businesses make better business decisions to achieve their goals and objectives.</li>
<li><strong>Business Plan Critiques and Reviews*</strong> are provided to help the business owner/entrepreneur not only complete a business plan, but adjust the plan as needed to help obtain the expected results. Professional critique of the written document provides guidance to the owner and helps avoid costly mistakes.</li>
</ul>
<p>&nbsp;</p>
<h3>Assistance for Pre-Venture, Startups, and Established Businesses</h3>
<ul>
<li><strong>Business Continuity</strong> is a program to help businesses prepare for, re-open and recover from disaster. Some disasters are nature-related, such as hurricanes or floods. Other forms of interruption are inflicted by humans, such as terrorism, war, theft or cyber-attack. Other disruptions such as fires or accidents can end a business if unprepared. Business continuity planning can minimize disruption and greatly reduce failure risk. </li>
<li><strong>Business Formation</strong> is challenging but exciting. Most business owners need guidance in selecting the right legal entity such as a corporation or LLC. While SBDC and Entrepreneur Services do not provide legal advice, information and guidance is available to help the entrepreneur start with a solid foundation. </li>
<li><strong>Business Plan Development</strong> is a service provided to help the business owner/entrepreneur not only complete a business plan, but adjust the plan as needed to help obtain the expected results. Professional critique of the written document provides guidance to the owner and helps avoid costly business mistakes. </li>
<li><strong>Access to Capital</strong> can increase loan applicants’ probability of securing a loan to grow their business. The consultants provides pre-loan assistance and is the technical assistance provider for business owners interested in securing financing through banks, credit unions, and nonbank intermediaries. </li>
<li><strong>Financial Technical Assistance</strong> is needed to plan new and existing small business operations.&nbsp; Consultants work with small businesses and entrepreneurs to develop financial projections to support their business plan.&nbsp; Financial projections contribute to determining if a new business idea/model are feasible and if they will be profitable for the business owner.&nbsp; Statements development includes Balance Sheet, Profit and Loss Statement, Cash Flow Statement and Breakeven Analysis.</li>
<li><strong>Marketing/Target Market Development</strong> assists small businesses and entrepreneurs with developing a target market through the use of marketing research and demographics on the anticipated and existing market.&nbsp; Consultants help businesses analyze data and determine the feasibility of entering a selected market </li>
<li><strong>Understanding QuickBooks</strong> makes creating invoices, writing checks and managing customers all easier. This introductory class takes you through the basics of the software program. This course gets you started on making your company’s bookkeeping simpler.</li>
<li><strong>Social Media Strategies</strong> are important when trying to build relationships with your customers. Twitter, Facebook, Google Plus and LinkedIn are all relationship building tools you can use to win the hearts and minds of your customers (so they think of you first when it comes time to buy). These tools also serve as a way to help prospective customers discover your business. This seminar provides basics on what you need to know to use social media to promote your business. </li>
</ul>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><em>*These services are provided by the <strong>Florida SBDC at Hillsborough County</strong>. The Florida SBDC at Hillsborough County is a member of the <strong>Florida SBDC Network</strong></a>, a statewide partnership program nationally accredited by the Association of America's SBDCs and funded in part by the U.S. Small Business Administration, Defense Logistics Agency, State of Florida, and other private and public partners, with the University of West Florida serving as the network's lead host institution. Florida SBDC services are extended to the public on a nondiscriminatory basis. Language assistance services are available for limited English proficient individuals.<br>
<br>
State Designated as Florida's Principal Provider of Business Assistance [§ 288.001, Fla. Stat.]</em></p>
</div>

</div>
</center>

{% endblock body %}